datasets
einops
gpustat
hydra-core
higher
importlib-metadata
matplotlib
nltk
numpy
omegaconf
pandas
PyYAML
scikit-learn
scipy
sentence-transformers
tokenizers
torch
tqdm
transformers
openai
peft
timm
iopath
opencv-python
fairscale
