datasets
einops
gpustat
hydra-core
higher
importlib-metadata
matplotlib
nltk
numpy
omegaconf
pandas
PyYAML
scikit-learn
scipy
sentence-transformers
tokenizers
tqdm
transformers
openai
peft
timm
iopath
opencv-python
fairscale
# qwen
# torch --index-url https://download.pytorch.org/whl/cu118
tiktoken
transformers_stream_generator
ninja
# flash-attn --no-build-isolation